venv/
.env
.vscode/
Task_3/text_representation_outputs/
Task_3/preprocessing_temp/
.gitignore
.DS_Store
Task_4/src/__pycache__
Task_4/src/features/__pycache__
Task_4/api/__pycache__
Tasks
Task_5/implementation_plan.md
Task_2/__pycache__
Task_5/models/
Task_5/__pycache__